header {
  background: -moz-linear-gradient(top, #00008B 0%, #000027 100%);
  background: -webkit-linear-gradient(top, #00008B 0%, #000027 100%);
  background: linear-gradient(to bottom, #00008B 0%, #000027 100%);
  color: #f8f8ff;
  text-align: center;
  padding: 1px;
}
main {
  background-color: #d3d3d3;
  padding: 1em;
  margin-top: 10px;
}
body {
  background-color: #778899;
  background-image: url(record.png);
  margin: 0;
}
